{% extends "restaurante/base.html" %}

{% block content %}
    <div class="row">
        <div class="bg-danger col-6">

            <div class="row">
                {% for mesa in mesas %}
                <div class="card col-3 mt-5 ms-5 mb-2 text-center">
                    <img src="{{mesa.foto_url }}" alt="" class="mt-1">
                    <h6 class="card-header">{{ mesa.nome }}</h6>
                    <div class="card-body">{{ mesa.status }}</div>

                </div>
                {% endfor %}
            </div>
        </div>
        <div class="bg-secondary col-6">
            <figure class="text-center mt-5">
                <img src="/static/img/logo.jpg" class="img-thumbnail" alt="" >
                <figcaption>
                    <h1>Restaurante da Dona Florinda</h1>
                </figcaption>
            </figure>
        </div>

    </div>
{% endblock content %}